#datetime-picker,
.label,
button {
    font-size: 20px;
}

.timer {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    text-align: left;
    gap: 15px;

}

.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 40px;
}